<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metacharacters</key>
	<array>
		<dict>
			<key>exp</key>
			<string>\a</string>
			<key>des</key>
			<string>BELL、\u0007にマッチします</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\A</string>
			<key>des</key>
			<string>入力の開始にマッチします。^とは異なり、\Aは入力内の改行後にはマッチしません。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\b, outside of a [Set]</string>
			<key>des</key>
			<string>現在位置が単語境界の場合にマッチします。境界は単語文字(\w)と非単語文字(\W)の間の遷移で発生し、結合文字は無視されます。より良い単語境界については、useUnicodeWordBoundariesを参照してください。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\b, within a [Set]</string>
			<key>des</key>
			<string>[集合]内でBACKSPACE、\u0008にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\B</string>
			<key>des</key>
			<string>現在位置が単語境界でない場合にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\cX</string>
			<key>des</key>
			<string>コントロール-X文字にマッチします</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\d</string>
			<key>des</key>
			<string>Unicode汎用カテゴリNd（数字、十進数字）の任意の文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\D</string>
			<key>des</key>
			<string>十進数字以外の任意の文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\e</string>
			<key>des</key>
			<string>ESCAPE、\u001Bにマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\E</string>
			<key>des</key>
			<string>\Q ... \Eクォートされたシーケンスを終了します。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\f</string>
			<key>des</key>
			<string>FORM FEED、\u000Cにマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\G</string>
			<key>des</key>
			<string>現在位置が前回のマッチの終端にある場合にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\n</string>
			<key>des</key>
			<string>LINE FEED、\u000Aにマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\N{UNICODE CHARACTER NAME}</string>
			<key>des</key>
			<string>指定された名前の文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\p{UNICODE PROPERTY NAME}</string>
			<key>des</key>
			<string>指定されたUnicodeプロパティを持つ任意の文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\P{UNICODE PROPERTY NAME}</string>
			<key>des</key>
			<string>指定されたUnicodeプロパティを持たない任意の文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\Q</string>
			<key>des</key>
			<string>\Eまで後続の全ての文字をクォートします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\r</string>
			<key>des</key>
			<string>CARRIAGE RETURN、\u000Dにマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\s</string>
			<key>des</key>
			<string>空白文字にマッチします。空白文字は[\t\n\f\r\p{Z}]として定義されます。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\S</string>
			<key>des</key>
			<string>非空白文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\t</string>
			<key>des</key>
			<string>HORIZONTAL TABULATION、\u0009にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\uhhhh</string>
			<key>des</key>
			<string>16進値hhhhの文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\Uhhhhhhhh</string>
			<key>des</key>
			<string>16進値hhhhhhhhの文字にマッチします。最大のUnicodeコードポイントが\U0010ffffであっても、正確に8桁の16進数を指定する必要があります。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\w</string>
			<key>des</key>
			<string>単語文字にマッチします。単語文字は[\p{Ll}\p{Lu}\p{Lt}\p{Lo}\p{Nd}]です。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\W</string>
			<key>des</key>
			<string>非単語文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\x{hhhh}</string>
			<key>des</key>
			<string>16進値hhhhの文字にマッチします。1桁から6桁まで指定できます。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\xhh</string>
			<key>des</key>
			<string>2桁の16進値hhの文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\X</string>
			<key>des</key>
			<string>書記素クラスターにマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\Z</string>
			<key>des</key>
			<string>現在位置が入力の終端にあり、かつ最終行終端記号がある場合はその直前の位置にある場合にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\z</string>
			<key>des</key>
			<string>現在位置が入力の終端にある場合にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\n</string>
			<key>des</key>
			<string>後方参照。n番目のキャプチャグループがマッチした内容と同じものにマッチします。nはパターン内のキャプチャグループ総数以下かつ1以上の数値である必要があります。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\0ooo</string>
			<key>des</key>
			<string>8進文字にマッチします。oooは1桁から3桁の8進数字です。0377が許可される最大の8進文字です。先頭のゼロは必須で、8進定数と後方参照を区別します。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>[pattern]</string>
			<key>des</key>
			<string>パターン内の任意の1文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>.</string>
			<key>des</key>
			<string>任意の文字にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>^</string>
			<key>des</key>
			<string>行の開始にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>$</string>
			<key>des</key>
			<string>行の終端にマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>\</string>
			<key>des</key>
			<string>後続の文字をクォートします。リテラルとして扱うためにクォートが必要な文字は * ? + [ ( ) { } ^ $ | \ . / です</string>
		</dict>
	</array>
	<key>operators</key>
	<array>
		<dict>
			<key>exp</key>
			<string>|</string>
			<key>des</key>
			<string>選択。A|BはAまたはBのいずれかにマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>*</string>
			<key>des</key>
			<string>0回以上マッチします。可能な限り多くマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>+</string>
			<key>des</key>
			<string>1回以上マッチします。可能な限り多くマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>?</string>
			<key>des</key>
			<string>0回または1回マッチします。1回を優先します。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n}</string>
			<key>des</key>
			<string>正確にn回マッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n,}</string>
			<key>des</key>
			<string>最低n回マッチします。可能な限り多くマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n,m}</string>
			<key>des</key>
			<string>n回からm回までマッチします。可能な限り多くマッチしますが、m回を超えません。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>*?</string>
			<key>des</key>
			<string>0回以上マッチします。可能な限り少なくマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>+?</string>
			<key>des</key>
			<string>1回以上マッチします。可能な限り少なくマッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>??</string>
			<key>des</key>
			<string>0回または1回マッチします。0回を優先します。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n}?</string>
			<key>des</key>
			<string>正確にn回マッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n,}?</string>
			<key>des</key>
			<string>最低n回マッチしますが、全体のパターンマッチに必要な回数を超えません。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n,m}?</string>
			<key>des</key>
			<string>n回からm回までマッチします。可能な限り少なくマッチしますが、n回未満にはなりません。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>*+</string>
			<key>des</key>
			<string>0回以上マッチします。初回時に可能な限り多くマッチし、全体のマッチが失敗しても、より少ないマッチで再試行しません（占有マッチ）。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>++</string>
			<key>des</key>
			<string>1回以上マッチします。占有マッチです。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>?+</string>
			<key>des</key>
			<string>0回または1回マッチします。占有マッチです。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n}+</string>
			<key>des</key>
			<string>正確にn回マッチします。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n,}+</string>
			<key>des</key>
			<string>最低n回マッチします。占有マッチです。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>{n,m}+</string>
			<key>des</key>
			<string>n回からm回までマッチします。占有マッチです。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(...)</string>
			<key>des</key>
			<string>キャプチャ括弧。括弧内のサブ式にマッチした入力の範囲は、マッチ後に使用可能です。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?:...)</string>
			<key>des</key>
			<string>非キャプチャ括弧。含まれるパターンをグループ化しますが、マッチしたテキストのキャプチャは行いません。キャプチャ括弧よりもやや効率的です。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?&gt;...)</string>
			<key>des</key>
			<string>アトミックマッチ括弧。括弧内のサブ式の最初のマッチのみを試し、全体のパターンマッチにつながらない場合は&quot;(?&gt;&quot;の直前の位置までバックアップします</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?# ... )</string>
			<key>des</key>
			<string>自由形式コメント (?# comment )。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?= ... )</string>
			<key>des</key>
			<string>先読みアサーション。括弧内のパターンが現在の入力位置でマッチする場合はtrueですが、入力位置は進みません。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?! ... )</string>
			<key>des</key>
			<string>否定先読みアサーション。括弧内のパターンが現在の入力位置でマッチしない場合はtrueです。入力位置は進みません。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?&lt;= ... )</string>
			<key>des</key>
			<string>後読みアサーション。括弧内のパターンが現在の入力位置の前のテキストにマッチし、マッチの最後の文字が現在位置の直前の入力文字である場合はtrueです。入力位置は変更されません。後読みパターンによってマッチされる可能性のある文字列の長さは無制限であってはなりません（*や+演算子は使用できません。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?&lt;! ... )</string>
			<key>des</key>
			<string>否定後読みアサーション。括弧内のパターンが現在の入力位置の前のテキストにマッチせず、マッチの最後の文字が現在位置の直前の入力文字である場合はtrueです。入力位置は変更されません。後読みパターンによってマッチされる可能性のある文字列の長さは無制限であってはなりません（*や+演算子は使用できません。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?ismwx-ismwx: ... )</string>
			<key>des</key>
			<string>フラグ設定。指定されたフラグを有効または-無効にして括弧内の式を評価します。フラグはFlag Optionsで定義されています。</string>
		</dict>
		<dict>
			<key>exp</key>
			<string>(?ismwx-ismwx)</string>
			<key>des</key>
			<string>フラグ設定。フラグ設定を変更します。変更は設定以降のパターン部分に適用されます。例えば、(?i)は大文字小文字を区別しないマッチに変更します。フラグはFlag Optionsで定義されています。</string>
		</dict>
	</array>
</dict>
</plist>
